services:
  go-app:
    image: golang:1.22.2
    container_name: go-app
    volumes:
      - .:/app
      - go-modules:/go/pkg/mod  # Persist Go module cache
      - go-cache:/root/.cache/go-build  # Persist Go build cache
    working_dir: /app
    command: ["/bin/sh", "-c", "go mod download && go run main.go"]
    depends_on:
      - redis
      - kafka
      - postgres
      - postgres_north
      - postgres_south
    ports:
      - "2426:2426"
    environment:
      REDIS_URL: redis:6379
      KAFKA_BROKER: kafka-broker:9092
      DB_HOST: host.docker.internal
      DB_NORTH: host.docker.internal
      DB_SOUTH: host.docker.internal
      DB_USER: postgres
      DB_PASSWORD: mypassword
      DB_NAME: hosp
      DB_NAME_NORTH: northdb
      DB_NAME_SOUTH: southdb
      DB_PORT_DEFAULT: 5432
      DB_PORT_NORTH: 5433
      DB_PORT_SOUTH: 5434
    networks:
      - swassthya-net

  redis:
    image: redis:latest
    container_name: redis-cache
    restart: always
    ports:
      - "6379:6379"
    networks:
      - swassthya-net

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - swassthya-net

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka-broker
    restart: always
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - swassthya-net

  postgres:
    image: postgres:14
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hosp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - swassthya-net
  postgres_north:
    image: postgres:14
    container_name: postgres-db-north
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: northdb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - swassthya-net
  
  postgres_south:
    image: postgres:14
    container_name: postgres-db-south
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: southdb
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - swassthya-net
networks:
  swassthya-net:
    driver: bridge

volumes:
  postgres_data:
  postgres_north_data:
  postgres_south_data:
  go-modules:  # Persist Go dependencies
  go-cache:  # Persist Go build cache
